<ion-content [fullscreen]="true">
  <button *ngIf="activeExitBtn" class="btnExit" [ngStyle]="{'color': colorExit}" (click)="reStart()">
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0z"/>
      <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708z"/>
    </svg>
  </button>
  <div *ngIf="!activeRoom2" class="top-middle" [ngStyle]="{'height': targetHeight1, 'z-index': zIndexTop}">
    <button (click)="toggleHeight1()">PPS-4A</button>
  </div>
  <div *ngIf="!activeRoom1" class="bottom-middle" [ngStyle]="{'height': targetHeight2, 'z-index': zIndexBottom, 'position': btn2Position, 'top': btn2Top}">
    <button (click)="toggleHeight2()">PPS-4B</button>
  </div>
  <div *ngIf="!activeRoom1 && !activeRoom2" class="logout-btn">
    <div class="right-content" (click)="this.auth.LogOut()">
      <i class='bx bx-log-out'></i>
      <span>Cerrar sesión</span>
    </div>
  </div>
  <div class="content-room">
    @if (activeRoom1) {
      <app-pps-4-a></app-pps-4-a>
    } 
    @if (activeRoom2) {
      <app-pps-4-b></app-pps-4-b>
    }
  </div>
</ion-content>